[Unit]
Description=ES Bot service
After=network.target

[Service]
Environment=HOME=/home/es_bot
ExecStart=${HOME}/ES-BOT/_build/prod/rel/prod/bin/prod start
ExecStop=${HOME}/ES-BOT/_build/prod/rel/prod/bin/prod stop
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=es_bot

[Install]
WantedBy=multi-user.target
